name: Demo Workflow
on:
  push:
    branches:
      - 'main'
      - 'feature/**'
jobs:
  demo-job:
    name: Demo Job
    runs-on: ubuntu-latest
    steps:
      - name: Message1
        run: echo "This is message 1"
      - name: Message2
        run: echo "This is message 2"
